$myScssColour: yellow;

.myScssClass {

    color: $myScssColour;
    
    nav {
        
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
        }

        li { display: inline-block; }

        a {
            color: $myScssColour;
            display: block;
            padding: 6px 12px;
            text-decoration: none;
        }
    }
}
