
.error {
    color:              #a94442;
}

.error-field {
    border-color:       #ebccd1;;
}

.tag {
    background:         white;
    border:             3px solid green; 
    border-radius:      10px; 
    margin:             0 5px; 
    padding:            2px 5px;
    cursor:             pointer;
    color:              rgb(1, 97, 1);
}