.myScssClass {
  color: yellow;
}
.myScssClass nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
.myScssClass nav li {
  display: inline-block;
}
.myScssClass nav a {
  color: yellow;
  display: block;
  padding: 6px 12px;
  text-decoration: none;
}
